.landing {
  position: relative;
  display: flex;
  height: 120vh;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 250px);
  }

  .slider {
    position: relative;
    white-space: nowrap;
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: #111;
    font-size: 400px;
    font-weight: 900;
    padding-right: 50px;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    right: 0;
    top: 20vh;
    justify-items: end;
    color: #000;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 859px;
    text-wrap: balance;
  }

  /* For screens under 900px */
  @media (max-width: 900px) {
    .description {
      position: relative;
      display: flex;
      justify-content: center; /* Horizontally centers the content */
      max-width: 378px;
      font-size: 40px;
      margin: 0 auto; /* Center the description container itself */
    }
  }
}
