@use '@styles/_global/colors' as *;
@use '@styles/_global/fonts' as *;
@use '@styles/_global/mixins' as *;
@use '@styles/_global/breakpoints' as *;

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: $black;

  // Pseudo-element for the blurred background image
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $protected-bg-gradient;
    filter: blur(100px);
    z-index: 1;
    transform: scale(1.4);
    /* Scale the image to 1.2 times its original size */
    transform-origin: center;
    /* Keep scaling centered */
  }
}

.formWrapper {
  z-index: 100;
  width: 100%;
  border-radius: 12px;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    border-radius: 6px;
    width: 100%;
    height: 84px;
    color: $white1;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.75px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;

    border: 1px solid $border-color;
    padding-left: 16px;

    &:focus {
      border-color: $text-white;
    }

    &::placeholder {
      color: $white1;
      font-family: $font-inter;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.75px;
    }
  }
}

.description {
  margin: 12px 0 80px;
  color: $text-white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  @include tablet {
    margin: 12px 0 120px;
  }
}

.warning {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 20px;

  .email {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.text {
  position: relative;
  font-family: $font-inter;
  color: $text-white;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;

  @include underline-hover($text-white, 1px, -1px, 0.3s);
}

.closeButtonWrapper {
  position: absolute;
  z-index: 200;
  right: 40px;
  top: 40px;
 }

@media (max-width: 900px) {
  .body {
    input {
      height: 84px;
      /* Decrease height for inputs */
      margin-bottom: 20px;
      /* Reduce margin */
      font-size: 14px;
      /* Adjust font size */
    }
  }

  .formWrapper {
    width: 70%;
    /* Make the form wrapper more narrow */
    padding: 20px;
    /* Reduce padding for smaller screens */
  }

  .labelText {
    font-size: 20px;
    /* Decrease font size for labels */
    padding-right: 0;
    /* Remove right padding */

    h2 {
      text-align: center;
    }
  }

  .big {
    font-size: 18px;
    /* Adjust font size for bigger text */
  }

  .small {
    font-size: 10px;
    /* Adjust font size for smaller text */
  }
}

.warning {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-top: 140px;

  @include tablet {
    margin-top: 240px;
  }
}

.cancelLink {
  font-family: $font-monument;
  color: $text-white;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 100%;

  @include underline-hover($text-white, 1px, -1px, 0.3s);
}

.title {
  font-family: $font-monument;
  color: $text-white;
  font-size: clamp(1.5rem, 6vw + 0.25rem, 4.5rem);
  font-weight: 400;
  text-align: center;
  max-width: 720px;
  line-height: 100%;
}
