@use '@styles/_global/colors' as *;
@use '@styles/_global/fonts' as *;
@use '@styles/_global/breakpoints' as *;

.mainContainer {
  padding: 40px 12px 80px;
  color: $text-default;

  @include tablet {
    padding: 40px 20px 80px;
  }

  @include desktop {
    padding: 40px 85px 120px;
  }
}

.title,
.subtitle {
  font-family: $font-monument;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;

  @include tablet {
    font-size: 48px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 40px;
  max-width: 800px;

  @include tablet {
    font-size: 36px;
  }
}

.titleBlock {
  max-width: 892px;

  @include desktop {
    margin-left: 178px;
  }
}

.industryBlock {
  margin-top: 40px;
}
