.cardContainer {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 500px;
    width: 1000px;
    border-radius: 20px;
    padding: 8vw;
    transform-origin: top;
    @media (max-width: 900px) {
      height: 80vh;
    }
    .body {
      display: flex;
      height: 100%;
      gap: 24px;
      .description {
        width: 40%;
        position: relative;
        h2 {
          color: #000;
          font-size: clamp(32px, 4vw, 48px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 0px;
        }

        p {
          margin-top: 40px;
          color: #000;
          font-size: clamp(16px, 2vw, 24px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        span {
          margin-top: 28px;
          margin-right: 52px;
          display: flex;
          justify-content: end;
          align-items: end;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
      @media (max-width: 900px) {
        flex-direction: column;
        width: 100%;
        .imageContainer {
          width: 100%;
        }
        .description {
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
}

.labelsContainer {
  display: flex; /* Changed from inline-flex to flex */
  flex-wrap: wrap; /* Allow labels to wrap */
  gap: 20px;
  margin-top: 40px;
  width: 100%; /* Make sure it takes the full width of its container */
  gap: 20px;
  margin-top: 40px;
  .label {
    display: inline-flex;
    padding: 0px 18px 1.5px 18px;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    border-radius: 75px;
    border: 1.5px solid #000;
    .el {
      margin-top: 0;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
