.skeletonWrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  position: absolute;
  inset: 0;
}

.shimmer {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #e5e7eb 0%, #f3f4f6 50%, #e5e7eb 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 0.5rem;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
