@use '@styles/_global/fonts' as *;
@use '@styles/_global/breakpoints' as *;

.profileIntro {
  max-width: 1000px;
  font-family: $font-roboto;
  font-weight: 400;
  position: relative;
  z-index: 10;
  font-size: clamp(18px, 4vw, 20px);
  line-height: 2;
  margin-top: clamp(80px, 20vw, 250px);
}

.iconInline {
  vertical-align: text-bottom;
  width: 28px;
  height: 28px;

  @include tablet {
    width: 36px;
    height: 36px;
  }
}
