.contact {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  background: #000;
  .body {
    padding-top: 5%;
    width: 100%;
    .title {
      padding-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
      position: relative;
      span {
        display: flex;
        align-items: center;
        h2 {
          margin-left: 0.3em;
        }
      }
      h2 {
        color: #f5f5f5;
        font-size: clamp(64px, 10vw, 128px);
        font-style: italic;
        font-weight: 700;
        line-height: normal;
      }
      svg {
        position: absolute;
        top: 30%;
        left: 100%;
      }
    }
    .nav {
      display: flex;
      gap: 20%;
      margin: 2%;
      color: #f5f5f5;
      justify-content: end;
      a {
        color: white;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        flex-shrink: 0;
        font-size: clamp(18px, 2vw, 32px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      @media (max-width: 900px) {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        a {
          margin: 12px;
        }
      }
    }
  }
}
