.description {
  display: flex;
  justify-content: center;

  @media (max-width: 900px) {
    margin-bottom: 10vh;
  }

  .body {
    margin: 4vw;
    margin-top: 16vh;
    width: 100%;
    gap: 50px;
    position: relative;

    p {
      text-wrap: pretty;

      &:nth-of-type(1) {
        z-index: 10;
        max-width: 60%;
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;

        span {
          margin-right: 3px;
        }

        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }

        @media (max-width: 900px) {
          max-width: 100%;
        }
      }

      &:nth-of-type(2) {
        color: #000;
        z-index: 10;
        max-width: 351px;
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        margin-left: 50%;

        @media (max-width: 900px) {
          margin-bottom: 20vh;
        }
      }

      &:nth-of-type(3) {
        z-index: 10;
        position: relative;
        right: 0;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        max-width: 70%;
        margin-top: 180px;
        margin-left: auto;

        b {
          font-weight: 700;
        }

        @media (max-width: 900px) {
          max-width: 100%;
        }
      }
    }
  }

  .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid grey;
  }

  .imageContainer {
    width: 171px;
    height: 171px;
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
    left: -90px;
    top: -60px;
    z-index: -10;

    img {
      object-fit: cover;
    }
  }

  a {
    text-wrap: nowrap;
    color: black;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    /* Underline effect only for the text */
    .text {
      position: relative;
      padding-bottom: 4px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.4s ease-out;
      }

      &:hover:before {
        width: 100%;
      }
    }

    .firstImage,
    .secondImage {
      display: inline-block;
      transition: transform 0.4s ease-out;
    }

    /* Initially, the second image is hidden (scaled down to 0) */
    .secondImage {
      transform: scale(0);
    }

    /* On hover, scale down the first image to 0 */
    &:hover .firstImage {
      transform: scale(0);
    }

    /* On hover, scale up the second image from 0 to 1 */
    &:hover .secondImage {
      transform: scale(1);
    }
  }
}