@use '@styles/_global/colors' as *;

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  height: 32px;

  &:hover, &:focus {
    .cube {
      opacity: 0;
    }

    .circle {
      opacity: 1;
    }
  }
}

.cube, .circle {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.cube {
  fill: $text-white;
}

.circle {
  fill: $text-white;
  opacity: 0;
}

