body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-inner {
  position: relative;
  .transition-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .loading-text {
    font-size: 9rem;
    font-weight: bold;
    transform: rotateX(20deg) translateZ(50px);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    animation: perspectiveAnimation 2s infinite alternate;
  }
}

@keyframes perspectiveAnimation {
  0% {
    transform: rotateX(20deg) translateZ(50px);
  }
  100% {
    transform: rotateX(10deg) translateZ(100px);
  }
}
