// Contact.module.scss

.main {
  width: 100%;
  height: 100%;
}

// Intro section
.introContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.introImage {
  position: relative;
  height: 100%;
  width: 100%;
}

// Description section
.mainDescriptionContainer {
  display: flex;
  margin: 10rem 4vw;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
  }
}

// Description section
.doubleDescriptionContainer {
  display: flex;
  margin: 10rem 4vw;
  gap: 21px;

  .secondaryDescription {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.label {
  display: flex;
  height: 28px;
  padding-top: 13px;
  padding-right: 20%;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.descriptionText {
  font-size: clamp(24px, 3vw, 48px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondaryDescriptionText {
  font-size: clamp(12px, 3vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

// Section with parallax background
.sectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.textContainer {
  position: relative;
  z-index: 10;
  padding: 5rem;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  width: 50vw;
  font-size: 2vw;
  align-self: flex-end;
  text-transform: uppercase;
}

.heading {
  width: 50vw;
  font-size: 2vw;
  text-transform: uppercase;
}

// Background image container for the section
.background {
  position: fixed;
  top: -10vh;
  left: 0;
  height: 120vh;
  width: 100%;
}

.backgroundImage {
  position: relative;
  height: 100%;
  width: 100%;
}
