.blurryCursorContainer {
  position: relative;
  height: 100vh;
  z-index: -1;
}

.blurryCursorCircle {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 100%;
  mix-blend-mode: difference;
  pointer-events: none;
}
