$bg-default: #ffffff;
$bg-vr-aircraft: #0a0813;
$bg-sharely: #fffbef;
$bg-sky-gradient: linear-gradient(
  90deg,
  #ffffff 0%,
  #ffffff 20%,
  #ffffff 40%,
  #ffffff 60%,
  #eeedf2 80%,
  #cfcdd9 100%
);
$bg-pilatus-website: #dce6f0;
$bg-sharely-website: #fffbef;
$bg-vr-website: #0a0813;
$bg-common-website: #f0f4f7;
$system-common-website: #1d1e23;

$bg-common-platform: #f0f4f7;
$bg-design-system: #1d1e23;

$text-default: #1c1b1f;
$text-white: #f0f4f8;
$custom-gradient_1: linear-gradient(135deg, #121619 0%, #13263f 100%);
$pilatus-hover-link: #122945;
$sharely-hover-link: #f08275;
$vr-hover-link: #0c2d82;
$common-hover-link: #999999;
$system-hover-link: #75c1d9;
$sky-hover-link: #0254a3;

$text-link: #f0f4f8;

$protected-bg-gradient: linear-gradient(
  141deg,
  rgba(239, 239, 239, 0.6) 0%,
  rgba(255, 255, 255, 0.08) 100%
);
$black: #000000;
$white1: #c7c7c7;

$about-background-gradient1: linear-gradient(180deg, #121619 0%, #13263f 100%);
$border-color: #938f99;
$hovered-button-light-theme: #a0aebd;
$button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
